<div class="card">
    <app-card-header title='Add Note'></app-card-header>
    <div class="card-body">
        <form [formGroup]="notesForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" formControlName="title" class="form-control" [readonly]="action == 'view' "
                    [ngClass]="{ 'is-invalid': submitted && form.title.errors }" />
            </div>
            <div class="form-group">

                <label for="description">Description</label>
                <textarea [placeholder]="'Add Description'" formControlName="description"
                    class="form-control note-textarea" [readonly]="action == 'view' "
                    [ngClass]="{ 'is-invalid': submitted && form.description.errors }">
                        {{ form.description.value ? form.description.value : ''}}
                </textarea>
            </div>
            <div class="form-group d-flex justify-content-between"
                [ngClass]="action == 'view' ? 'col-md-3' : 'col-md-2' ">
                <button *ngIf="action == 'view' " class="btn btn-primary" (click)="action='edit' ">
                    Edit
                </button>
                <button [disabled]="loading || notesForm.invalid" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Save
                </button>
                <button routerLink="/note-list" class="btn btn-secondary">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>